<%= form_with(model: [ @project, @project.tasks.build ], local: true) do |form| %>
  <p>
    <%= form.label 'Title' %><br>
    <%= form.text_field :title %>
  </p>
  <p>
    <%= form.label 'Description' %><br>
    <%= form.text_area :description %>
  </p>

  <%= form.select :status, ['new', 'in progress', 'done']%>
  <p>
    <%= form.submit %>
  </p>
<% end %>
